body {
  font-family: 'Lato', sans-serif;
}

.header:before,
.about-extra:after,
.header:after {
  display: table;
  content: "";
}

.about-extra:after,
.header:after {
  clear: both;
}

p {
  margin: 20px 0;
}

/* list-inline ============================================================== */

.list-inline {
  padding: 0;
}

.list-inline__item {
  display: inline-block;
  vertical-align: top;
}

/* common =================================================================== */

.header {
  background: #f2f2f2;
  padding: 10px 20px;
}

.logotype-wrap {
  display: inline-block;
  overflow: hidden;
  width: 200px;
  height: 65px;
}

.site-name {
  position: absolute;
  left: -500px;
}

/* nav-menu ================================================================= */

.navigation {
  display: inline-block;
  vertical-align: top;
  float: right;
  font-family: 'Raleway', sans-serif;
  padding-right: 50px;
}

.nav-menu {
  margin: 18px 0;
}

.nav-menu li {
  padding: 5px 20px;
}

.nav-menu a {
  color: #f2a10e;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
}

@media only screen and (max-width: 1024px) {
  .nav-menu li {
  margin: 0;
  }

  .nav-menu a {
    font-size: 16px;
  }
}

.about-preview {
  position: relative;
  float: left;
  padding: 0 20px 20px;
  width: 41%;
  text-align: center;
  min-width: 320px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .about-preview {
    min-width: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .about-preview {
    min-width: 100%;
    float: none;
  }
}

.about-preview img {
  margin-top: 40px;
  max-width: 100%;
  display: inline-block;
}

.about {
  padding: 40px 20px;
  background: #f2a10e;
  color: #fff;
}

.about-body {
  margin-bottom: 20px;
  line-height: 1.5;
}

.about-body:last-child {
  margin-bottom: 0;
}

.about-text {
  margin: 10px 0;
}

.about-extra {
  padding: 20px 20px 50px 20px;
}

.about-extra img {
  float: right;
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .about-extra img {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.subscribe {
  padding: 10px 10px 20px;
  background: #f2f2f2;
  text-align: center;
  color: #f2a10e;
  border-top: 1px solid #ffc000;
  border-bottom: 1px solid #ffc000;
}

.subscribe input {
  padding: 10px 13px;
  color: #999;
}

.subscribe input[type="submit"] {
  background: green;
  color: #fff;
  border: none;
}

.technology-inner {
  margin-left: 35%;
  background: rgba(255, 255, 255, .75);
  padding: 20px;
}

.technology {
  background: url('http://placehold.it/1200x800/C8C8C8') 50% 50%;
  background-size: cover;
  border-bottom: 1px solid #ffc000;
}

.technology-description,
.how-it-works {
  text-align: center;
  background: #fff;
  color: #f2a10e;
  padding: 60px 10px;
}

.how-list {
  position: relative;
  display: inline-block;
  margin: 60px 0;
  color: #3c3c3c;
}

.how-list:before {
  content: '';
  display: block;
  position: relative;
  top: 74px;
  margin-left: 150px;
  margin-right: 150px;
  height: 1px;
  border-top: 1px dashed #999;
}

.how-list__item {
  padding: 0 20px;
  position: relative;
  max-width: 350px;
  width: 32%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.how-list__item:first-child {
  padding-left: 0;
}

.how-list__item:last-child {
  padding-right: 0;
}

.subscribe-header {
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
  font-weight: normal;
}

.subscribe-text {
  margin: 0 0 20px;
  font-size: 18px;
}

.email-input {
  width: 300px;
  border: 1px solid #d9d9d9;
}

.technology-header {
  color: #f2a10e;
  font-size: 52px;
  margin: 0 0 40px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.technologies {
  list-style: none;
  padding: 0;
  line-height: 2;
  color: #737572;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.number {
  color: #f2a10e;
  margin-right: 20px;
  margin-left: 5px;
}

.technology-list {
  list-style: none;
  color: #737572;
}

.technology-list li {
  padding: 0 10px;
  text-align: center;
  max-width: 180px;
}

.how-it-works__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 38px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.how-it-works__image {
  margin: 50px 0 80px;
  max-width: 100%;
}

.lead {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.works {
  background: #f2a10e;
  padding: 0 10px 20px;
  text-align: center;
}

.work-list {
  position: relative;
  top: -48px;
  margin: 0;
  /* text-align: center; */
}

.work-list li {
  padding: 0 5px;
  color: #3c3c3c;
  width: 19%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 350px;
}

.how-item,
.work-item {
  display: inline-block;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
}

.work-item {
  border: 4px solid #f2f2f2;
}

.how-title,
.works-title {
  margin: 10px 0 5px;
}

.works-text {
  font-size: 12px;
  margin: 0;
}

@media only screen and (max-width: 1025px) {
  .how-list {
    margin: 20px 0;
  }

  .how-list__item {
    padding: 0 10px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .how-it-works__title {
    font-size: 22px;
  }

  .lead {
    font-size: 16px;
  }

  .header {
    text-align: center;
  }

  .navigation {
    float: none;
    display: block;
    padding-right: 0;
  }

  .work-list li {
    margin-bottom: 20px;
  }

  .work-list li,
  .list-inline__item {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 40px;
  }

  .email-input {
    width: 170px;
  }

  .technologies {
    font-size: 14px;
  }

  .technology-inner {
    margin-left: 0;
  }

  .technology-header {
    font-size: 18px;
    margin: 10px 0;
  }
}

.about-header {
  text-transform: uppercase;
  font-size: 28px;
  margin: 0;
}

.technology-items__title {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.technology-items {
  margin-top: 50px;
}

.technology-items__text {
  margin: 10px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.footer {
  text-align: center;
  padding: 60px 20px;
  background: #f2a10e;
  color: #fff;
  font-size: 54px;
}

.how-title {
  display: block;
  min-height: 50px;
}

@media only screen and (max-width: 1025px) {
  .footer {
    font-size: 32px;
  }
}